<h1>Listing articles of category: <%=@category.name%></h1>

<%= link_to 'Add article to category', new_category_article_path(@category) %>

<% @articles.each do |article| %>
  <div class="post-preview">
    <h2 class="post-title">
    <%= link_to article.title, article_path(article) %>
    </h2>
    <h3 class="post-subtitle">
        <%= article.text %>
    </h3>
    <div id="articleactions">
      <%= link_to 'Edit', edit_article_path(article) %> |
      <%= link_to 'Delete', article_path(:id => article.id, :category_id =>@category.id),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      </div>
    <p class="post-meta">Posted on <%= article.updated_at.strftime('%c') %></p>
  </div>
  <hr>
<% end %>
</table>
