<h1>Categories</h1>

<% if current_user %>
  <%= link_to 'Add category', new_category_path %> |
  <%= link_to 'Add article', new_article_uncategorized_path %>
<% end %>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>

  <% @categories.each do |category| %>
    <tr>
      <td><%= link_to category.name, category_path(category) %></td>
      <td><%= category.description %></td>
      <td>
          <%= link_to 'Articles', category_articles_path(category) %><br />
          <% if current_user_resource_owner category%>
            <%= link_to 'Edit', edit_category_path(category) %><br />
            <%= link_to 'Delete', category_path(category),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
          <% end %>
      </td>
    </tr>
  <% end %>
</table>
</div>
